<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TOPS Files</h5>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="topsFiles" multiple (change)="onTopsFileChange($event)">
            <label class="custom-file-label" for="topsFiles">Choose TOPS files</label>
          </div>
          <div class="selected-files">
            <div *ngFor="let file of topsFiles; let i = index" class="file-item">
              <span>{{ file.name }}</span>
              <button class="btn btn-sm btn-danger ml-2" (click)="removeTopsFile(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CYMAN Files</h5>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="cymanFiles" multiple (change)="oncymanFileChange($event)">
            <label class="custom-file-label" for="cymanFiles">Choose CYMAN files</label>
          </div>
          <div class="selected-files">
            <div *ngFor="let file of cymanFiles; let i = index" class="file-item">
              <span>{{ file.name }}</span>
              <button class="btn btn-sm btn-danger ml-2" (click)="removeCymanFile(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-primary" (click)="uploadFiles()" [disabled]="!topsFiles.length && !cymanFiles.length">
        Upload Files
      </button>
    </div>
  </div>
</div>
